body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

.container {
    width: 600px;
    margin: 60px auto;
    background: #020617;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

h1 {
    color: #38bdf8;
}

button {
    background: #38bdf8;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

.box {
    background: #020617;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}

audio {
    margin-top: 20px;
    width: 100%;
}

#status {
    margin-top: 15px;
    font-weight: bold;
}
